<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metalcyborg.androidkata.broadcast">

    <application>
        <activity
            android:name=".BroadcastActivity"
            android:label="@string/title_activity_broadcast"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".simple.SimpleReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.metalcyborg.androidkata.broadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>